*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: black;
  background-color: #e3e3e3;
}
table th td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100px;
    height: 30px;
  }
